@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  --color-grey: #545253;
  --color-green: #a0bc57;
  --color-btn: #f6931d;
  --color-white: #fff;
}

body {
  background: linear-gradient(#ecf8fb, #efefef);
  background-image: url("/css/images/background-image.png");
  background-position: cover;
  animation: backgroundTransition 5s infinite;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  color: var(--color-grey);
}

.header {
  height: 8rem;
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  max-width: 100%;
  height: auto;
}

.main-section {
  margin: 1.5rem 1.5rem 3.5rem;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
}

.main-title {
  background-color: var(--color-grey);
  color: var(--color-white);
  padding: 1.6rem 2rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.8rem;
}

form {
  background-color: var(--color-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
  margin-bottom: 2rem;
}

.form-field input {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 300;
  width: 100%;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.form-field input::placeholder {
  color: #747375;
}

.location-container {
  display: flex;
  gap: 1rem;
}

.form-subfield_city {
  width: 70%;
}

.form-subfield_state {
  width: 30%;
}

.submit-button {
  width: 100%;
  max-width: 33.3rem;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: var(--color-btn);
  font-size: 1.5rem;
  color: var(--color-white);
  padding: 1.5rem;
  cursor: pointer;
}

.advertorial-section {
  margin: 0 1.5rem;
  border: 2px solid var(--color-green);
  border-top: none;
}

.title-within-border {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  top: -0.9rem;
}

.title-within-border::before,
.title-within-border::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: var(--color-green);
}

.title-within-border::before {
  left: -2px;
}

.title-within-border::after {
  right: -2px;
}

.advertorial-subheading {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-green);
}

.advertorial-heading {
  font-weight: 300;
  line-height: 2.4rem;
  font-size: 2rem;
}

.advertorial-content {
  padding: 1.5rem;
  margin: 1.5rem;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.advertorial-content p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 1.5rem 0;
}

.read-more a {
  color: #6eb7c2;
}

@keyframes backgroundTransition {
  0%,
  100% {
    background-color: #ecf8fb;
  }
  50% {
    background-color: #efefef;
  }
}

@media (min-width: 767px) {
  .main-section {
    max-width: 65%;
    margin: 3.5rem auto 4rem;
  }

  .advertorial-section {
    max-width: 45%;
    margin: 0 auto;
  }

  .advertorial-content {
    margin: 0 2rem 2rem;
  }
}

@media (min-width: 1440px) {
  .main-section {
    max-width: 45%;
  }

  .advertorial-section {
    max-width: 35%;
  }

  .title-within-border::before,
  .title-within-border::after {
    width: 25%;
  }
}
